
@{
    ViewData["Title"] = "NewBill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Bill Details</h1>

<p>Mobile Number: @ViewBag.MobileNumber</p>
<p>Provider: @ViewBag.Provider</p>
<p>Price: @ViewBag.Price</p>

