@model eProject3.Models.DichVu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<form asp-controller="DichVus" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ServiceId" />
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            @*<div class="media align-items-center m-b-15">
            <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
            <img src="assets/images/others/thumb-16.jpg" alt="">
            </div>
            <div class="m-l-15">
            <h4 class="m-b-0">Skinny Men Blazer</h4>
            <p class="text-muted m-b-0">Code: #5325</p>
            </div>
            </div>*@
            <div class="m-b-15">
                <button class="btn btn-primary">
                    <i class="anticon anticon-save"></i>
                    <span>Save</span>
                </button>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-edit-basic">Basic Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-option">Option Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-edit-description">Description</a>
            </li>
        </ul>
    </div>
    <div class="tab-content m-t-15">
        <div class="tab-pane fade show active" id="product-edit-basic">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label class="font-weight-semibold" for="productName">Product Name</label>
                        <input type="text" class="form-control" asp-for="SerName">
                    </div>
                    <div class="form-group">
                        <label asp-for="CatId" class="control-label"></label>
                        <select asp-for="CatId" class="form-control" asp-items="ViewBag.CatId"></select>
                    </div>

                    <div class="form-group">
                        <label asp-for="ProviderId" class="control-label"></label>
                        <select asp-for="ProviderId" class="form-control" asp-items="ViewBag.ProviderId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />

                    </div>

                    <div class="form-group">
                        <label class="font-weight-semibold" for="productBrand">Thumbnail</label>
                        <input id="fThumb" name="fThumb" type="file" class="form-control-file" asp-for="Thumb">
                        <span asp-validation-for="Thumb" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="product-edit-description">
            <label asp-for="Description" class="control-label"></label>

            <div class="card">
                <div class="card-body">

                    <textarea id="Description" name="Description" asp-for="Description"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>

@*<h1>Edit</h1>

<h4>DichVu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServiceId" />
            <div class="form-group">
                <label asp-for="SerName" class="control-label"></label>
                <input asp-for="SerName" class="form-control" />
                <span asp-validation-for="SerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label"></label>
                <select asp-for="CatId" class="form-control" asp-items="ViewBag.CatId"></select>
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProviderId" class="control-label"></label>
                <select asp-for="ProviderId" class="form-control" asp-items="ViewBag.ProviderId"></select>
                <span asp-validation-for="ProviderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thumb" class="control-label"></label>
                <input asp-for="Thumb" class="form-control" />
                <span asp-validation-for="Thumb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

